In [4]:
import plotly.offline as pyo
import plotly.graph_objs as go
import plotly.express.data as load_data
import pandas as pd

In [39]:
df= load_data.medals_long()

In [31]:
df.head(100)

        nation   medal  count
0  South Korea    gold     24
1        China    gold     10
2       Canada    gold      9
3  South Korea  silver     13
4        China  silver     15
5       Canada  silver     12
6  South Korea  bronze     11
7        China  bronze      8
8       Canada  bronze     12

In [34]:
trace_00 = go.Bar(x=df['nation'], y=df[df['medal'] == 'gold']['count'], name='Ouro', marker= dict(color='gold'))

trace_01 = go.Bar(x=df['nation'], y=df[df['medal'] == 'silver']['count'], name='Prata', marker= dict(color='silver'))

trace_02 = go.Bar(x=df['nation'], y=df[df['medal'] == 'bronze']['count'], name='Bronze', marker= dict(color='brown'))

In [36]:
layout = go.Layout(title ='Medalhas',barmode='stack')

In [37]:
data =[trace_00, trace_01,trace_02]

fig = go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

## Refazer o exemplo com os dados das Olimpíadadas de Tóquio

Download [data](https://www.kaggle.com/datasets/berkayalan/2021-olympics-medals-in-tokyo)

[https://www.kaggle.com/datasets/berkayalan/2021-olympics-medals-in-tokyo?resource=download&select=Tokyo+Medals+2021.csv](https://www.kaggle.com/datasets/berkayalan/2021-olympics-medals-in-tokyo?resource=download&select=Tokyo+Medals+2021.csv)

In [40]:
df2= pd.read_csv('./data/Tokyo Medals 2021.csv')

In [41]:
df2.head()

,Country,Gold Medal,Silver Medal,Bronze Medal,Total,Rank By Total
0,United States of America,39,41,33,113,1
1,People's Republic of China,38,32,18,88,2
2,Japan,27,14,17,58,5
3,Great Britain,22,21,22,65,4
4,ROC,20,28,23,71,3